<div class="app" [ngClass]="
		{
				'is-collapsed': app.layout.isMenuCollapsed,
				'is-opened': app.layout.isMenuOpened,
				'rtl' : app.layout.rtlActived
		}">
	<div class="layout" [ngClass]="headerSelected">

		<div [ngClass]="sidenavSelected">
			<!-- Side Nav START -->
			<div class="side-nav" sideBar>
				<div class="side-nav-inner">
					<div class="side-nav-logo">
						<a href="" [routerLink]="['/']">
							<div class="logo logo-dark"
								 style="background-image: url('assets/images/logo/logo.png')"></div>
							<div class="logo logo-white"
								 style="background-image: url('assets/images/logo/logo-white.png')"></div>
						</a>
						<div class="mobile-toggle side-nav-toggle">
							<a href="javascript:void(0);"
								 (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
								<i class="ti-arrow-circle-left"></i>
							</a>
						</div>
					</div>
					<ul class="side-nav-menu scrollable">

						<li class="nav-item" routerLinkActive="active">
							<a class="mrg-top-30" href="" [routerLink]="['/organization']">
																<span class="icon-holder">
																		<i class="fa fa-sitemap"></i>
																</span>
								<span class="title">Organizations</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Side Nav END -->

			<!-- Page Container START -->
			<div class="page-container">

				<!-- Top Nav START -->
				<div class="header navbar">
					<div class="header-container">
						<ul class="nav-left">
							<li>
								<a class="side-nav-toggle" href="javascript:void(0);"
									 (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed">
									<i class="ti-view-grid"></i>
								</a>
							</li>
						</ul>
						<ul class="nav-right">
							<li>
								<a class="side-panel-toggle" href="javascript:void(0);"
									 (click)="app.layout.sidePanelOpen = !app.layout.sidePanelOpen">
									<i class="ti-align-right"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- Top Nav END -->

				<!-- Side Panel START -->
				<div class="side-panel" [ngClass]="{'side-panel-open' : app.layout.sidePanelOpen}">
					<div class="side-panel-wrapper bg-white">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item active">
								<a class="nav-link" href="javascript:void(0);" role="tab" data-toggle="tab">
									<span>Pending Transactions</span>
								</a>
							</li>
							<li class="panel-close">
								<a class="side-panel-toggle" href="javascript:void(0);"
									 (click)="app.layout.sidePanelOpen = !app.layout.sidePanelOpen">
									<i class="ti-close"></i>
								</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="tab1" role="tabpanel" class="tab-pane fade in active">
								<div class="pending-transactions">
										<div class="pt-list scrollable">
												<div class="pt-section">
														<a href="javascript:void(0);" class="pt-message pt-toggle" *ngFor="let message of pendingTransactions">
																<div class="message-info">
																	<span class="message-name">{{message.title}}</span>
																	<span class="message-time">{{message.time}}</span>
																	<span class="message-text">{{message.text}}</span>
																</div>
																<span class="status" [ngClass]="{confirmed: isConfirmed(message), pending: isPending(message), failed: isFailed(message)}"><span></span></span>
														</a>
												</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Side Panel END -->

				<!-- Content Wrapper START -->
				<div class="main-content">
					<router-outlet></router-outlet>
				</div>
				<!-- Content Wrapper END -->

				<!-- Footer START -->
				<footer class="content-footer">
					<div class="footer">
						<div class="copyright">
							<span>Copyright © 2017</span>
							<span class="go-right">
																<a href="" class="text-gray mrg-right-15">Link 1</a>
																<a href="" class="text-gray">Link 2</a>
														</span>
						</div>
					</div>
				</footer>
				<!-- Footer END -->

			</div>
			<!-- Page Container END -->

		</div>
	</div>
</div>
