@import '../../../assets/scss/_variables';

.oc-breadcrumbs {
  margin-bottom: 12px;
}

.transaction {
  position: relative;
}

.transaction-value {
  position: absolute;
  top: 38px;
  right: 24px;
  font-size: 18px;
  color: $theme-success
}
//
// .charity-events-list {
//     margin-bottom: 20px;
//
//     .flexbox-container {
//         display: flex;
//         flex-wrap: wrap;
//         margin: 0 -10px;
//     }
//     .charity-event-card {
//         flex: 0 0 30%;
//         margin: 10px;
//     }
// }
