
.charity-events-list {
    margin-bottom: 20px;

    .flexbox-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }
    .charity-event-card {
        flex: 0 0 30%;
        margin: 10px;
    }
}

.ce-card {
  position: relative;
}

.ce-tools {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
}
