<form role="form" novalidate [formGroup]="incomingDonationForm">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Real World Identifier
					<small class="text-normal">*</small>
				</label>
				<input class="form-control"
					   [ngClass]="{'error' : incomingDonationForm.get('realWorldIdentifier').touched && incomingDonationForm.get('realWorldIdentifier').invalid}"
					   placeholder="Real World Identifier"
					   formControlName="realWorldIdentifier">
				<label class="error"
					   *ngIf="incomingDonationForm.get('realWorldIdentifier').touched && incomingDonationForm.get('realWorldIdentifier').hasError('required')">Real
					World Identifier is required</label>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>
					Amount
					<small class="text-normal">*</small>
				</label>
				<input type="url"
					   class="form-control"
					   placeholder="Amount"
					   [ngClass]="{'error' : incomingDonationForm.get('amount').touched && incomingDonationForm.get('amount').invalid}"
					   formControlName="amount">
				<div *ngIf="incomingDonationForm.get('amount').touched && incomingDonationForm.get('amount').hasError('required')">
					<label class="error">
						Amount is required
					</label>
				</div>
				<div *ngIf="incomingDonationForm.get('amount').touched && incomingDonationForm.get('amount').hasError('min')">
					<label class="error">
						Amount should be > 0
					</label>
				</div>
				<div *ngIf="incomingDonationForm.get('amount').touched && incomingDonationForm.get('amount').hasError('pattern')">
					<label class="error">
						Amount should be a valid number
					</label>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">

				<ng-template #rt let-r="result" let-t="term">
					<span data-id="{{r.id}}">{{r.name}}</span>
				</ng-template>
				<label for="typeahead-focus">Source ID <small class="text-normal">*</small></label>
				<input id="typeahead-focus" type="text"
					   class="form-control"
					   [formControlName]="'source'"
					   (focus)="focus$.next($event.target.value)"
					   (click)="click$.next($event.target.value)"
					   [ngbTypeahead]="search" [resultTemplate]="rt"
					   [inputFormatter]="formatter"
					   [ngClass]="{'error' : incomingDonationForm.get('source').touched && incomingDonationForm.get('source').invalid}"
					   #typeahead="ngbTypeahead"
				/>

				<div *ngIf="incomingDonationForm.get('source').touched && incomingDonationForm.get('source').hasError('required')">
					<label class="error">
						Source ID is required
					</label>
				</div>
				<div *ngIf="incomingDonationForm.get('source').touched && incomingDonationForm.get('source').hasError('min')">
					<label class="error">
						Source ID should be > 0
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<label>Note</label>
				<textarea class="form-control" placeholder="Note" formControlName="note"
						  cols="20" rows="10"></textarea>
				<!--<label class="error" *ngIf="url?.errors?.url"></label>-->
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group" *ngIf="!charityEvent">
				<opc-set-tags
					[allowCreate]="true"
					[initialTags]="selectedTagNames"
					(tagsChanged)="tagsChanged($event)">
				</opc-set-tags>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6">
			<button type="submit"
					class="btn btn-primary width-100"
					[ngClass]="{'disabled': incomingDonationForm.invalid}"
					(click)="submitForm()">
				Submit
			</button>
		</div>
	</div>

</form>
