/* This file is for setting global styles  */
@import 'variables';

section {
  margin-left: 15px;
}

tr.loading, tr.empty {
  background: #fff !important;

  .fa-spin {
    margin-top: 16px;
  }

  .message {
    margin-top: 16px;
  }
}