<div class="card no-mrg">
	<div class="card-heading border bottom">
		<h4 class="card-title">
			Edit Charity Event
			<button class="btn btn-default pull-right no-mrg"
					(click)="activeModal.close()">
				<i class="fa fa-remove"></i>
			</button>
		</h4>
	</div>
	<div class="card-block">
		<div class="card-block">
			<div class="text-center" *ngIf="!charityEventData">
				<i class="fa fa-spinner fa-spin fa-5x"></i>
			</div>

			<div class="row">
				<div class="col-md-12 ml-auto mr-auto">
					<opc-charity-event-form
							*ngIf="charityEventData"
							[charityEventData]="charityEventData"
							(charityEventChanged)="charityEventChanged($event)"
							[organizationContractAddress]="organizationAddress"
					></opc-charity-event-form>
				</div>
			</div>
		</div>
	</div>
</div>
