<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-heading border bottom">
				<h4 class="card-title">Add New Incoming Donation</h4>
			</div>
			<div class="card-block">
				<div class="card-block">
					<div class="row">

						<div class="col-md-8 ml-auto mr-auto">
							<form role="form" novalidate [formGroup]="incomingDonationForm">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Real World Identifier
												<small class="text-normal">*</small>
											</label>
											<input class="form-control"
												   [ngClass]="{'error' : incomingDonationForm.get('realWorldIdentifier').touched && incomingDonationForm.get('realWorldIdentifier').hasError('required')}"
												   formControlName="realWorldIdentifier">
											<label class="error"
												   *ngIf="incomingDonationForm.get('realWorldIdentifier').touched && incomingDonationForm.get('realWorldIdentifier').hasError('required')">Real
												World Identifier is required</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Amount</label>
											<input type="url" class="form-control" name="donation-amount"
												   formControlName="amount">
											<!--<label class="error" *ngIf="url?.errors?.url"></label>-->
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label>Note</label>
											<textarea class="form-control" name="donation-note" formControlName="note"
													  cols="20" rows="10"></textarea>
											<!--<label class="error" *ngIf="url?.errors?.url"></label>-->
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label>Tags</label>
											<opc-set-bitmask-tags [bitmask]="selectedTagsBitmask"
																  (bitmaskChanged)="bitmaskChanged($event)"></opc-set-bitmask-tags>
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-md-6">
										<button class="btn btn-primary width-100" type="submit" (click)="submitForm()">
											Submit
										</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
