<div class="">
	<tag-input class="tags-list"
			   [onlyFromAutocomplete]="true"
			   [identifyBy]="'value'"
			   [displayBy]="'name'"
			   [(ngModel)]="chosenTags"
			   (onAdd)="toggleTag($event.value)"
			   (onRemove)="toggleTag($event.value)"
			   [inputClass]="'form-control'"
			   theme="minimal">
		<tag-input-dropdown [showDropdownIfEmpty]="false"
							[focusFirstElement]="true"
							[identifyBy]="'value'"
							[displayBy]="'name'"
							[autocompleteItems]="tags">
		</tag-input-dropdown>
	</tag-input>
</div>
