@import 'src/assets/scss/variables';

.tags-list {
	.tag {
		border-radius: 3px;
		cursor: pointer;
		&.selected {
			color: $default-dark;
			background-color: lighten($border-color, 2%);
			border-color: lighten($border-color, 2%);
		}
	}
}
