<div class="container-fluid">
	<ol class="breadcrumb oc-breadcrumbs">
		<li><a href="#" (click)="goBackToPreviousPage($event)">
			<i class="fa fa-arrow-left"></i>
			<span>Back</span>
		</a></li>
	</ol>
	<div class="page-title">
		<h4>
			{{name}}
			<div>
				<small>{{charityEventAddress}}</small>
			</div>
			<div>
				<small>Created: {{charityEventDate|date:'dd.MM.yyyy'}}</small>
			</div>
		</h4>
	</div>
</div>
<!-- <div class="row" *ngFor="let transaction of transactions">
	<div class="col-lg-12">
		<div class="card calendar-event card-hover">
			<div class="card-block transaction">
				<div class="transaction-value">+ {{transaction.value}}</div>
				<div>From: {{transaction.from}}</div>
				<div>Transaction: {{transaction.transaction}}</div>
			</div>
		</div>
	</div>
</div> -->
<div class="card">
	<div class="table-responsive">
		<table class="table table-striped table-hover donations-table">
			<thead>
			<tr>
				<th>Date</th>
				<th>From</th>
				<th>Transaction</th>
				<th class="text-right">Amount</th>
			</tr>
			</thead>
			<tbody>
			<tr *ngIf="isTransactionsLoading()" class="loading">
				<td colspan="4" class="text-center">
					<i class="fa fa-spinner fa-spin fa-3x"></i>
				</td>
			</tr>
			<tr *ngIf="isTransactionsEmpty()" class="empty">
				<td colspan="4" class="text-center">
					<div class="message">No transactions</div>
				</td>
			</tr>
			<tr class="data"
				*ngFor="let transaction of transactions" (click)="toDetails(transaction.incomingDonation)">
				<td>{{transaction.date}}</td>
				<td>{{transaction.incomingDonation}}</td>
				<td>{{transaction.transactionHash}}</td>
				<td><div class="transaction-value">+ {{transaction.amount}}</div></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
