<div class="container-fluid no-pdd-horizon bg opx-login-form">
	<div class="row">
		<div class="col-md-12 mr-auto ml-auto">
			<div class="row">
				<div class="mr-auto ml-auto full-height height-100">
					<div class="vertical-align full-height">
						<div class="table-cell">
							<div class="card">
								<div class="card-body">
									<div class="pdd-horizon-30 pdd-vertical-30">
										<div class="mrg-btm-30 text-center">
											<img alt="" class="img-responsive inline-block"
												 src="assets/images/logo/logo.png">
										</div>

										<div class="tab-info center-tabs">

											<ul class="nav nav-tabs" role="tablist">

												<li class="nav-item width-50"
													*ngFor="let tab of tabs; let i = index"
													(click)="chooseTab(i)">
													<a class="nav-link" [ngClass]="{'active': tab.active}">
														{{tab.name}}
													</a>
												</li>

											</ul>

											<div class="tab-content mrg-top-30">

												<!-- Raw Key Form -->
												<form *ngIf="tabs[0].active" [formGroup]="rawKeyLoginForm">
													<div class="form-group">
                                                        <textarea placeholder="Private key"
																  class="form-control"
																  cols="30" rows="10"
																  [formControlName]="'privateKey'"
														>
														</textarea>
													</div>
													<div class="form-group">
														<input class="form-control"
															   placeholder="Password"
															   type="password"
															   [formControlName]="'password'"
														>
													</div>
													<p class="mrg-btm-15 font-size-13">Please enter your <strong>Private
														Key</strong> and <strong>password</strong> to login</p>
													<div class="mrg-top-20 text-center">
														<button class="btn btn-info"
																(click)="rawKeyLogin()">
															Login
														</button>
													</div>
												</form>
												<!-- /Raw Key Form -->

												<!-- File Form -->
												<!--<form *ngIf="tabs[1].active" class="ng-pristine ng-valid">-->
												<!--<div class="form-group">-->
												<!--<div class="custom-file">-->
												<!--<input type="file" class="custom-file-input"-->
												<!--id="inputGroupFile02">-->
												<!--<label class="custom-file-label" for="inputGroupFile02">Choose-->
												<!--file</label>-->
												<!--</div>-->
												<!--</div>-->
												<!--<div class="form-group">-->
												<!--<input class="form-control" placeholder="Password"-->
												<!--type="password">-->
												<!--</div>-->
												<!--<p class="mrg-btm-15 font-size-13">Please upload your-->
												<!--<strong>File</strong> and enter your <strong>password</strong>-->
												<!--to login</p>-->
												<!--<div class="mrg-top-20 text-center">-->
												<!--<button class="btn btn-info">Login</button>-->
												<!--</div>-->
												<!--</form>-->
												<!-- /File Form -->

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
