<div class="container-fluid no-pdd-horizon bg opx-login-form">
	<div class="row">
		<div class="col-md-12 mr-auto ml-auto">
			<div class="row">
				<div class="mr-auto ml-auto full-height height-100">
					<div class="vertical-align full-height">
						<div class="table-cell">
							<div class="card">
								<div class="card-body">
									<div class="pdd-horizon-30 pdd-vertical-30">
										<div class="mrg-btm-30 text-center">
											<img alt="" class="img-responsive inline-block"
												 src="assets/images/logo/logo.png">
										</div>

										<div class="tab-info center-tabs">

											<ul class="nav nav-tabs" role="tablist"  *ngIf="!showUnlockWalletForm">

												<li class="nav-item width-50"
													*ngFor="let tab of tabs; let i = index"
													(click)="chooseTab(i)">
													<a class="nav-link" [ngClass]="{'active': tab.active}">
														{{tab.name}}
													</a>
												</li>

											</ul>

											<div class="tab-content mrg-top-30">

												<!-- Raw Key Form -->
												<form *ngIf="!showUnlockWalletForm && tabs[0].active" [formGroup]="rawKeyLoginForm">
													<div class="form-group">
                                                        <textarea placeholder="Private key"
																  class="form-control"
																  cols="30" rows="10"
																  [ngClass]="{'error' : rawKeyLoginForm.get('privateKey').touched && rawKeyLoginForm.get('privateKey').invalid}"
																  [formControlName]="'privateKey'">
														</textarea>
														<div>
															<label class="error"
																   *ngIf="rawKeyLoginForm.get('privateKey').touched && rawKeyLoginForm.get('privateKey').hasError('privateKeyInvalid')">
																It is not Private key
															</label>
														</div>
														<div>
															<label class="error"
																   *ngIf="rawKeyLoginForm.get('privateKey').touched && rawKeyLoginForm.get('privateKey').hasError('required')">
																Private key is required
															</label>
														</div>
													</div>
													<div class="form-group">
														<input class="form-control"
															   placeholder="Password"
															   type="password"
															   [ngClass]="{'error' : rawKeyLoginForm.get('password').touched && rawKeyLoginForm.get('password').invalid}"
															   [formControlName]="'password'">
														<div>
															<label class="error"
																   *ngIf="rawKeyLoginForm.get('password').touched && rawKeyLoginForm.get('password').hasError('pattern')">
																Minimum six characters, at least one uppercase letter, one lowercase letter and one number:
															</label>
														</div>
														<div>
															<label class="error"
																   *ngIf="rawKeyLoginForm.get('password').touched && rawKeyLoginForm.get('password').hasError('required')">
																Password is required
															</label>
														</div>
													</div>
													<p class="mrg-btm-15 font-size-13">Please enter your <strong>Private
														Key</strong> and <strong>password</strong> to login</p>
													<div class="mrg-top-20 text-center">
														<button class="btn btn-info"
																[ngClass]="{disabled: rawKeyLoginForm.invalid || rawKeyLoginForm.pristine}"
																[disabled]="rawKeyLoginForm.invalid || rawKeyLoginForm.pristine"
																(click)="rawKeyLogin()">
															Login
														</button>
													</div>
												</form>
												<!-- /Raw Key Form -->

												<!-- File Form -->
												<form *ngIf="!showUnlockWalletForm && tabs[1].active" [formGroup]="keyStorageLoginForm">
													<div class="form-group">
														<div class="custom-file">
															<input type="file"
																   class="custom-file-input"
																   id="inputGroupFile02"
																   (change)="keyStorageUpdated($event)">
															<label
																class="custom-file-label"
																for="inputGroupFile02">
																<span *ngIf="fileName">{{ fileName.slice(0, 30) + '...' }}</span>
																<span *ngIf="!fileName">Choose file</span>
															</label>
														</div>
													</div>

													<div class="form-group">
														<input class="form-control"
															   placeholder="Password"
															   type="password"
															   [ngClass]="{'error' : keyStorageLoginForm.get('password').touched && keyStorageLoginForm.get('password').invalid}"
															   [formControlName]="'password'">
														<div>
															<!--<label class="error"-->
																   <!--*ngIf="keyStorageLoginForm.get('password').touched && keyStorageLoginForm.get('password').hasError('pattern')">-->
																<!--Minimum six characters, at least one uppercase letter, one lowercase letter and one number:-->
															<!--</label>-->
														</div>
														<div>
															<label class="error"
																   *ngIf="keyStorageLoginForm.get('password').touched && keyStorageLoginForm.get('password').hasError('required')">
																Password is required
															</label>
														</div>
													</div>

													<p class="mrg-btm-15 font-size-13">
														Please upload your
														<strong>File</strong> and enter your <strong>password</strong>
														to login</p>

													<div class="mrg-top-20 text-center">
														<button class="btn btn-info"
																(click)="keyStorageLogin()"
																[ngClass]="{disabled: keyStorageLoginForm.invalid || keyStorageLoginForm.pristine}"
																[disabled]="keyStorageLoginForm.invalid || keyStorageLoginForm.pristine">Login</button>
													</div>

												</form>
												<!-- /File Form -->


												<!-- Unlock wallet form -->
												<form *ngIf="showUnlockWalletForm" [formGroup]="unlockWalletForm">
													<div class="form-group">
														<input class="form-control"
															   placeholder="Password"
															   type="password"
															   [ngClass]="{'error' : unlockWalletForm.get('password').touched && unlockWalletForm.get('password').invalid}"
															   [formControlName]="'password'">
														<div>
															<!--<label class="error"-->
															<!--*ngIf="unlockWalletForm.get('password').touched && unlockWalletForm.get('password').hasError('pattern')">-->
															<!--Minimum six characters, at least one uppercase letter, one lowercase letter and one number:-->
															<!--</label>-->
														</div>
														<div>
															<label class="error"
																   *ngIf="unlockWalletForm.get('password').touched && unlockWalletForm.get('password').hasError('required')">
																Password is required
															</label>
														</div>
													</div>

													<p class="mrg-btm-15 font-size-13">
														Please, provide a password to unlock stored wallet. If you don't remember password, removed stored wallet using button below.
													</p>

													<div class="mrg-top-20 text-center">
														<button class="btn btn-warning" (click)="removeStoredWallet()">
															Remove Stored Wallet
														</button>
														<button class="btn btn-info"
																(click)="unlockWallet()"
																[ngClass]="{disabled: unlockWalletForm.invalid || unlockWalletForm.pristine}"
																[disabled]="unlockWalletForm.invalid || unlockWalletForm.pristine">Login</button>
													</div>

												</form>
												<!-- /Unlock wallet form -->

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
