<table class="table table-striped table-hover donations-table">
	<thead *ngIf="incomingDonations.length">
	<tr>
		<th>Date</th>
		<th>Real world Id</th>
		<th>Tag</th>
		<th>Moved Funds</th>
		<th>Amount</th>
		<th>Source</th>
		<th>Note</th>
		<th>Event</th>
		<th>Annual / Single</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr class="data"
		*ngFor="let incomingDonation of incomingDonations | orderBy:'date':true"
		[ngClass]="{'pending' : incomingDonation && isPending(incomingDonation)}"
		(click)="toDetails(incomingDonation)">
		<td>{{incomingDonation?.date|date:'dd.MM.yyyy'}}</td>
		<td>{{incomingDonation?.realWorldsIdentifier}}</td>
		<td><opc-bitmask-tags-list *ngIf="incomingDonation" [tags]="incomingDonation.tags"></opc-bitmask-tags-list></td>
		<td>
			<p class="mrg-btm-5">
				<span class="text-dark text-semibold">{{incomingDonation?.movedFunds}}/{{incomingDonation?.amount}}</span>
			</p>
			<div class="progress progress-info progress-sm">
				<div class="progress-bar" [ngStyle]="{'width.%': (incomingDonation?.amount-incomingDonation?.movedFunds)/incomingDonation?.amount*100}"></div>
			</div>
		</td>
		<td>{{incomingDonation?.amount}}</td>
		<td>{{incomingDonation?.sourceName}}</td>
		<td>{{incomingDonation?.note}}</td>
		<td>Event 1</td>
		<td>Annual</td>
		<td>
			<button type="button"
					class="btn btn-primary btn-sm"
					*ngIf="incomingDonation && !isPending(incomingDonation)"
					(click)="$event.stopPropagation(); openSendDonationFundsModal(incomingDonation)">
				Move funds to Charity Event
			</button>
			<button class="btn btn-default" *ngIf="incomingDonation && isPending(incomingDonation)">
				<i class="fa fa-spin fa-spinner"></i>
			</button>
		<td>
	</tr>
	<tr class="empty-incoming-donations" *ngIf="!incomingDonations.length">
		<td class="text-center" colspan="10">
			<div class="message">No Incoming Donations</div>
		</td>
	</tr>
	</tbody>
</table>
