<table class="table table-striped table-hover donations-table">
	<thead>
	<tr>
		<th>Date</th>
		<th>Real world Id</th>
		<th>Tag</th>
		<th>Amount</th>
		<th>Source</th>
		<th>Note</th>
		<th>Event</th>
		<th>Annual / Single</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr class="data"
		*ngFor="let incomingDonation of incomingDonations"
		[ngClass]="{'pending' : incomingDonation && isPending(incomingDonation)}"
		(click)="toDetails(incomingDonation)">
		<td>01.02.2018</td>
		<td>{{incomingDonation?.realWorldsIdentifier}}</td>
		<td><opc-bitmask-tags-list *ngIf="incomingDonation" [tags]="incomingDonation.tags"></opc-bitmask-tags-list></td>
		<td>{{incomingDonation?.amount}}</td>
		<td>{{incomingDonation?.sourceName}}</td>
		<td>{{incomingDonation?.note}}</td>
		<td>Event 1</td>
		<td>Annual</td>
		<td>
			<button type="button"
					class="btn btn-primary btn-sm"
					*ngIf="incomingDonation && !isPending(incomingDonation)"
					(click)="$event.stopPropagation(); openSendDonationFundsModal(incomingDonation)">
				Move funds to Charity Event
			</button>
			<button class="btn btn-default" *ngIf="incomingDonation && isPending(incomingDonation)">
				<i class="fa fa-spin fa-spinner"></i>
			</button>
		<td>
	</tr>
	</tbody>
</table>
