@import "src/assets/scss/_variables";

.incoming-donation-card {
	min-height: 240px;
	.loading-overlay {
		position: absolute;
		top: 0; bottom: 0;
		right: 0; left: 0;
		display: flex;
		font-size: 40px;
		background: white;
		align-items: center;
		justify-content: center;
		z-index: 99;
	}
}